body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: rgb(96, 201, 247);
}

h1 {
	font: 700 1.5em  'Montserrat', sans-serif;
	padding: 20px 0 10px;
	color: rgb(255, 255, 255);
}

p {
	font: 300 .7em 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
}

.ball {
	position: relative;
	display: inline-block;
}

img {
	width: 100%;
	max-width: 500px;
}

#gameOutCome {
	position: absolute;
	top: 90px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 500px;
	font-weight: 700;
	font-size: 3em;
	letter-spacing: 2px;
	color: rgb(100, 100, 100);
	opacity: 1;
    animation: fadeInOut 3s linear forwards;
}

#currentPress {
	font-weight: 700;
	font-size: 1.9em;
	color: rgba(255, 255, 255, .5);
}

#keyStroke {
	color: rgba(255, 255, 255, .7);
}

.playerResult {
	width: 90%;
	max-width: 725px;
	margin: 30px auto 0;
	padding: 15px 0 30px 25px;
	background: rgba(255, 255, 255, .3);
	border-radius: 5px;
}

.row {	
		width: 100%;
}


.result {
	text-align: left;
	font: 300 .8em 'Montserrat', sans-serif;
	padding-bottom: 20px;
	color: rgb(0, 0, 0);
}

.guessedLtr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	padding: 300px;
	color: rgb(96, 201, 247);
	background: rgba(255, 255, 255, .3);
	border-radius: 5px;
}

.letterHold {

}

@media screen and (max-width: 899px) and (min-width: 500px) {

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 1em;
	}


	#gameOutCome {
		top: 125px;
	}

}

@media screen and (min-width: 900px) {

	h1 {
		font-size: 3em;
	}

	p {
		font-size: 1.25em;
	}

	#currentPress {
		font-size: 2em;
	}

	.result {
		font-size: .9em;
	}

	#gameOutCome {
		top: 135px;
	}




/* Key frames fade in/out for game over  */


@keyframes fadeInOut {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

