body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: rgb(96, 201, 247);
}

h1 {
	font: 700 1.5em  'Montserrat', sans-serif;
	padding: 20px 0 10px;
	color: rgb(255, 255, 255);
}

.zoltar {
	padding: 50px 0 25px;
}

p {
	font: 300 .7em 'Montserrat', sans-serif;
	padding-bottom: 10px;
	color: rgb(255, 255, 255);
}

.ball {
	position: relative;
	display: inline-block;

}

img {
	width: 100%;
	max-width: 500px;
}

#currentPress {

/*	position: absolute;
	top: 110px;
	left: 50%;
	transform: translateX(-50%);*/
	font-weight: 700;
	font-size: 2em;
	color: rgb(100, 100, 100);
}

.playerResult {
	width: 90%;
	margin: 0 auto;
	padding: 50px 0 50px 25px;
	background: rgb(255, 255, 255);
	border-radius: 5px;

}

.result {
	display: inline-block;
	margin-right: 15%;
	font: 300 .7em 'Montserrat', sans-serif;
	padding-bottom: 10px;
	color: rgb(0, 0, 0);
}

@media screen and (max-width: 899px) and (min-width: 500px) {

	h1 {
	font-size: 2em;
	}

	p {
	font-size: 1em;
	}

	.result {
	font-size: .8em;
	}

}

@media screen and (min-width: 900px) {

	h1 {
	font-size: 3em;
	}

	p {
	font-size: 1.25em;
	}

	.result {
	font-size: .9em;
	}




/* JS injected text */

